In [1]:
import pandas as pd
import os
import json
import requests
import pickle as pkl
import matplotlib.pyplot as plt
import numpy as np

DATADIR = "../../dataset"
WIKIDIR = DATADIR + "/wikidata/processed"
PBDBDIR = DATADIR + "/pbdb"

In [11]:
# load the flat tree for db 
with open(os.path.join(WIKIDIR, "flat_tree_for_db.json"),"rb") as f:
    flat_tree_for_db = json.load(f)

In [5]:
wiki = pd.read_csv(os.path.join(WIKIDIR,"data.csv"), index_col = "id")

In [12]:
flat_tree_for_db = pd.DataFrame(flat_tree_for_db)

In [13]:
flat_tree_for_db.head()

,name,rank,id,pathFromRootById,pathFromRootByName
0,Biota,Q22666877,Q2382443,",Q2382443",",Biota"
1,Neomura,,Q1950208,",Q2382443,Q1950208",",Biota,Neomura"
2,Contophora,Q19858692,Q28920818,",Q2382443,Q28920818",",Biota,Contophora"
3,Flagelloopalinida,Q36732,Q23832644,",Q2382443,Q28920818,Q23832644",",Biota,Contophora,Flagelloopalinida"
4,Protomonada,Q38348,Q21446765,",Q2382443,Q28920818,Q23832644,Q21446765",",Biota,Contophora,Flagelloopalinida,Protomonada"

In [2]:
with open(os.path.join(PBDBDIR, "pbdb.json"),"rb") as f:
    pbdb_for_db = json.load(f)

In [3]:
pbdb_for_db = pd.DataFrame(pbdb_for_db)

In [4]:
pbdb_for_db.head()

,id,wikiRef,name,rank,minma,maxma,lng,lat
0,3285,Q1498322,Tetradium,genus,449.5,460.9,-75.456108,43.212776
1,3679,Q1498322,Tetradium,genus,458.4,470.0,-75.456108,43.212776
2,4409,Q1498322,Tetradium,genus,443.7,449.5,-83.828613,39.445278
3,4534,Q1498322,Tetradium huronense,species,443.7,449.5,-85.012779,39.423058
4,5487,Q1498322,Tetradium,genus,443.7,449.5,-84.000000,39.000000

In [28]:
len(flat_tree_for_db.index.tolist())

2888360

In [14]:
wiki.shape

(2891219, 4)

In [17]:
flat_tree_for_db.set_index("id",inplace=True)

In [41]:
fossil_flat_tree_for_db = flat_tree_for_db.loc[all_valid_wiki_id]

In [43]:
fossil_flat_tree_for_db["id"] = fossil_flat_tree_for_db.index

In [54]:
fossil_flat_tree_for_db_json = fossil_flat_tree_for_db.to_json(orient="records")
parsed_fossil_flat_tree_for_db_json = json.loads(fossil_flat_tree_for_db_json)

In [55]:
with open(os.path.join(WIKIDIR, "fossil_flat_tree_for_db.json"),"w") as f:
    json.dump(parsed_fossil_flat_tree_for_db_json,f)